.img {
	height: 100vh;
	background-attachment: fixed;
	background-origin: border-box;
	background-image: url('@/assets/user_background.png');
}

.background {
	background-attachment: local;
	background-image: url('@/assets/user_background.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
